.loggato{
  bottom: -30% !important;
}

.error-login{
  bottom: -80px
}

.img-logo{
  width: 20%;
  height: auto;
}

.error-field-icon {
  position: absolute;
  right: 0;
}

.div-check{
  position: absolute;
  right: 0
}

.parsley-errors-list {
  display: none
}

.div-error{
  position: absolute !important;
  background-color: rgba(195, 24, 27, 0.49);
  white-space: nowrap;
}

@media only screen and (min-width: 1023px) {
  .loggato{
    bottom: -20% !important;
  }

  .error-login{
    bottom: -30px;
  }

  .img-logo{
    width: 30%;
    height: auto;
  }

  .div-error{
    left: 150%;
  }
}

@media only screen and (max-width: 1023px) {
  .div-error{
    right: 100%;
    top: 100%
  }
}
