.loggato{
  bottom: -30% !important;
}

.error-login{
  bottom: -80px
}

.img-logo{
  width: 20%;
  height: auto;
}

@media only screen and (min-width: 1023px) {
  .loggato{
    bottom: -20% !important;
  }

  .error-login{
    bottom: -30px;
  }

  .img-logo{
    width: 30%;
    height: auto;
  }
}
